.shipPlaced::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #2a7a96;
}

.missed::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: white;
}

.scored::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #d58569;
}

.damaged::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: red;
}
