@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

html,
body {
  height: 100%;
  font-family: "Roboto", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > p {
  font-size: 50px;
}

.content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-general {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  height: 400px;
  display: flex;
  justify-content: center;
}

.start-reset {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.board-1,
.board-2 {
  padding: 10px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-1 > div:last-of-type,
.board-2 > div {
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.board-1 > div:first-of-type {
  align-self: center;
}

[data-row],
[data-coord] {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: column;
}

[data-coord]:hover {
  background-color: hsl(0, 0%, 70%);
}
