@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 1px solid black;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "Jersey 15", system-ui, "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 800px;
}

header {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > p {
  font-size: 100px;
  border-bottom: 6px solid grey;
}

.content {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info-general {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-general > p {
  font-size: 38px;
}

.info-playerOne {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.info-playerOne > p {
  font-size: 20px;
}

.game {
  height: 400px;
  display: flex;
  justify-content: center;
}

.start-reset {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.board-1,
.board-2 {
  padding: 10px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.board-1 > div,
.board-2 > div {
  padding: 10px;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.board-1 > div,
.board-2 > div {
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

[data-x],
[data-y] {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  flex-direction: column;
}

[data-y]:hover {
  background-color: hsl(0, 0%, 70%);
}

.shipPlaced {
  background-color: orange;
}
